<div class="span2 left-side">
    <script>
        var module = window.leftAction = "{{.module}}";
    </script>
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li><a href="index" data-menu="index"><i class="icon-home"></i>首页</a></li>
            <li class="nav-header">系统管理</li>
            <li><a href="setting" data-menu="dept"><i class="icon-asterisk"></i>公众号设置</a></li>
            <li><a href="test" data-menu="user"><i class="icon-th-list"></i>测试列表</a></li>
            <li><a href="question" data-menu="privilege"><i class="icon-question-sign"></i>问题设置</a></li>

            <li class="divider"></li>
            <li><a href="help" data-menu="help"><i class="icon-question-sign"></i>帮助文档</a></li>

        </ul>
    </div><!--/.well -->
</div><!--/span-->